{% extends 'generator/layout.html' %}

{% block content %}
<h1>About(acerca de)</h1>

<p class="text-start">"La aplicación generadora de contraseñas es una herramienta sencilla pero eficiente <br> que te permite crear contraseñas seguras de 3 hasta 6 caracteres de longitud.<br>
     Con solo unos clics, puedes obtener contraseñas aleatorias <br> y robustas que te ayudarán a proteger tus cuentas en línea <br> y mantener tu información personal a salvo.<br><hr>
      La aplicación utiliza un algoritmo especializado para generar combinaciones únicas de <br> letras, números y símbolos, garantizando así la fortaleza de las contraseñas generadas.<br>
       Además, cuenta con una interfaz intuitiva y amigable que te permite personalizar las opciones de generación, <br> como incluir letras mayúsculas, minúsculas o caracteres especiales.<br> ¡No arriesgues la seguridad de tus cuentas con contraseñas débiles! <br> Utiliza nuestra aplicación generadora de contraseñas y mantén tu información protegida de forma rápida y confiable."</p>

{% endblock %}