
{% extends 'generator/layout.html' %}

{% block content %}

<div class="col-md-4 offset-md-4">
    <div class="card card-body bg-dark text-center">
        <h1>New<br>Password:</h1>
        <p style="font-size: 2.8rem;">{{password}}</p>
        <div>
        <button id="refresh-btn" class="btn btn-outline-success">Refresh</button>
        </div>
    </div>
</div>

<script>
    document.getElementById("refresh-btn").addEventListener("click", function() {
    location.reload(); // Recargar la página al hacer clic en el botón Refresh
    });
</script>

{% endblock %}